<div class="container">
  <div class="grid">
    <div>
      <button [routerLink]="['/select']"><- Retour</button>
      <button  (click)="startBattle()"> Start Battle</button>
      <button  (click)="stopBattle()"> Stop Battle</button>
    </div>
    <div class="field">
      <app-pokemon-panel
        [pokemon]="pokemon1"
        [reverted]="true"
      ></app-pokemon-panel>
      <app-pokemon-panel
        [pokemon]="pokemon2"
        [reverted]="false"
      ></app-pokemon-panel>
    </div>
    <app-message-panel
      [messages]="battle?.messages"
    ></app-message-panel>
  </div>
</div>
